.userPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #afd345;
    margin: 10px;
}
.selectPage{
    font-weight: bold;
}
.paginationWrapper{
    width: 100%;
    max-width: 900px;
    word-wrap: break-word;
}