.nav{
    grid-area: nav;
    background-color: green;
    padding: 10px;
    font-size: 20px;
  }

.item a{
    color: white;
    text-decoration: none;
}

.item a.active{
  color: gold;
}

.item:nth-child(5){
  margin-top: 20px;
}
.item:nth-child(6){
  margin-top: 20px;
}
